# DB
DB_CLIENT=mysql
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USER=
DB_PASSWORD=

# Directus
# https://docs.directus.io/self-hosted/config-options.html#general
PUBLIC_URL=
LOG_LEVEL=trace
# https://docs.directus.io/self-hosted/config-options.html#security
KEY=directus
SECRET=
# https://docs.directus.io/self-hosted/config-options.html#sso-oauth2-and-openid
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=
# https://docs.directus.io/self-hosted/config-options.html#admin-account
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Directus GitHub Auth
# https://docs.directus.io/self-hosted/config-options.html#sso-oauth2-and-openid
AUTH_PROVIDERS=github
AUTH_GITHUB_DRIVER=oauth2
AUTH_GITHUB_AUTHORIZE_URL=https://github.com/login/oauth/authorize
AUTH_GITHUB_ACCESS_URL=https://github.com/login/oauth/access_token
AUTH_GITHUB_PROFILE_URL=https://api.github.com/user
AUTH_GITHUB_ALLOW_PUBLIC_REGISTRATION=true
AUTH_GITHUB_SCOPE=read:user,user:email
AUTH_GITHUB_FIRST_NAME_KEY=name
AUTH_GITHUB_LAST_NAME_KEY=login
AUTH_GITHUB_IDENTIFIER_KEY=id

# GitHub API
# A classic token (not scoped), required permissions are: read:org, read:use
GITHUB_ACCESS_TOKEN=
# Generated during enabling of webhooks and passed to the app, to validate requests
# Create the webhook at https://github.com/sponsors/jsdelivr/dashboard/webhooks/441768912/edit#deliveries
# See WEBHOOK_FLOW_ID in .env.example for the webhook URL
GITHUB_WEBHOOK_SECRET=

# Globalping API
GLOBALPING_URL=https://api.globalping.io/v1
GP_SYSTEM_KEY=

# Geonames API
GEONAMES_USERNAME=

# App
CREDITS_PER_DOLLAR=2000
CREDITS_PER_ADOPTED_PROBE_DAY=150
ADOPTED_PROBES_CHECK_TIME_MAX_DEVIATION_MINS=5
# To trigger credits assignment probe need to be online >20 hours during the day. Current "Adopted probes status CRON" is "*/10 * * * *", which is 6 times an hour
# So required value is 20 * 6 = 120
ADOPTED_PROBES_REQUIRED_ONLINE_TIMES=120

# Are updated during `npm run init`
AUTH_GITHUB_DEFAULT_ROLE_ID=
AUTH_DISABLE_DEFAULT=
