{
	"extends": "@martin-kolarik/eslint-config/typescript",
	"ignorePatterns": [
		"**/dist",
		"/extensions"
	],
	"rules": {
		"node/no-extraneous-import": [
			"error",
			{
				"allowModules": [
					"@directus/types"
				]
			}
		]
	}
}
