{
	"extends": [
		"plugin:vue/vue3-strongly-recommended",
		"@martin-kolarik/eslint-config/typescript"
	],
	"ignorePatterns": [
		"**/dist",
		"/extensions",
		"**/shims.d.ts"
	],
	"rules": {
		"node/no-extraneous-import": [
			"error",
			{
				"allowModules": [
					"@directus/types"
				]
			}
		],
		"vue/html-indent": [
			"error",
			"tab"
		],
		"vue/max-attributes-per-line": "off",
		"vue/multi-word-component-names": "off",
		"vue/singleline-html-element-content-newline": "off"
	},
	"overrides": [
		{
			"files": [
				"src/**/*.ts"
			],
			"extends": "@martin-kolarik/eslint-config/typescript-type-checking",
			"parserOptions": {
				"project": true
			},
			"rules": {
				"@typescript-eslint/no-unsafe-argument": "off",
				"@typescript-eslint/no-unsafe-assignment": "off",
				"@typescript-eslint/no-unsafe-call": "off",
				"@typescript-eslint/no-unsafe-member-access": "off",
				"@typescript-eslint/no-unsafe-return": "off",
				"@typescript-eslint/no-misused-promises": "off",
				"@typescript-eslint/no-unnecessary-type-assertion": "off"
			}
		},
		{
			"files": [
				"src/**/*.vue"
			],
			"parserOptions": {
				"parser": "@typescript-eslint/parser"
			}
		}
	]
}
