{
	"extends": [
		"plugin:vue/vue3-strongly-recommended",
		"@martin-kolarik/eslint-config/typescript"
	],
	"ignorePatterns": [
		"**/dist",
		"/extensions",
		"**/shims.d.ts"
	],
	"rules": {
		"node/no-extraneous-import": [
			"error",
			{
				"allowModules": [
					"@directus/types"
				]
			}
		],
		"vue/html-indent": [
			"error",
			"tab"
		],
		"vue/max-attributes-per-line": "off",
		"vue/multi-word-component-names": "off",
		"vue/singleline-html-element-content-newline": "off"
	},
	"overrides": [
		{
			"files": [
				"src/**/*.vue"
			],
			"parserOptions": {
				"parser": "@typescript-eslint/parser"
			}
		}
	]
}
